* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: #222;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
}

#game {
    position: relative;

    width: 100vw;
    max-width: 500px;

    height: 100vh;
    max-height: 900px;

    overflow: hidden;

    background: linear-gradient(
        #65c6e8 0%,
        #a9e3f0 100%
    );

    touch-action: none;
}

/* SCORE */

#score {
    position: absolute;

    top: 25px;
    left: 0;

    width: 100%;

    text-align: center;

    font-size: 52px;
    font-weight: bold;

    color: white;

    text-shadow:
        3px 3px 5px #555;

    z-index: 200;
}

/* BIRD */

#bird {
    position: absolute;

    left: 22%;

    top: 45%;

    width: 45px;
    height: 45px;

    font-size: 40px;

    line-height: 45px;

    text-align: center;

    z-index: 100;

    pointer-events: none;

    transform-origin: center;
}

/* START / GAME OVER */

#startScreen,
#gameOverScreen {
    position: absolute;

    inset: 0;

    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    background: rgba(0, 0, 0, 0.25);

    color: white;

    z-index: 1000;
}

#gameOverScreen {
    display: none;
}

h1 {
    margin: 0 0 12px;

    font-size: 46px;

    text-shadow:
        3px 3px 5px #555;
}

p {
    margin: 0 0 25px;

    font-size: 21px;
}

/* BUTTON */

button {
    border: none;

    padding: 16px 40px;

    border-radius: 15px;

    background: #ffc928;

    color: #333;

    font-size: 25px;

    font-weight: bold;

    box-shadow:
        0 5px 0 #d39f00;

    cursor: pointer;

    touch-action: manipulation;
}

button:active {
    transform: translateY(4px);

    box-shadow:
        0 1px 0 #d39f00;
}

/* PIPES */

.pipe {
    position: absolute;

    width: 70px;

    background: linear-gradient(
        90deg,
        #348b3a,
        #65b86b,
        #28702e
    );

    border: 3px solid #24652a;

    z-index: 50;
}

/* PIPE CAPS */

.pipe::after {
    content: "";

    position: absolute;

    left: -7px;

    width: 78px;

    height: 25px;

    background: #4fa856;

    border: 3px solid #24652a;
}

/* TOP CAP */

.pipe.top::after {
    bottom: -28px;
}

/* BOTTOM CAP */

.pipe.bottom::after {
    top: -28px;
}

/* GROUND */

#game::after {
    content: "";

    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 70px;

    background: #99966b;

    z-index: 150;

    pointer-events: none;
}